.WeatherForecast {
  text-align: center;
  margin: 20px 0;
  background-color: hsla(0, 0%, 100%, 0.452);
  border-radius: 15px;
  padding: 10px;
}

.WeatherForecast canvas {
  display: block;
  margin: 5px auto;
  width: 44;
  height: 44;
}
